---
# ページ基本情報 ---------------------------------------------------------------

layout: _layouts/base
title: ABOUT｜PORTFORIO
description: ポートフォリオサイトの自己紹介ページです。

# パンくずリスト ---------------------------------------------------------------

breadcrumbs:
  - HOME: /
  - ABOUT: false
---
<main class="l-main">
<div class="l-main__outer">
<div class="l-main__inner">

<div class="m-heading">
<div class="m-heading__inner">
<h1 class="m-heading__text">ABOUT</h1>
<span class="m-heading__subText">私について</span>
</div>
</div><!-- /.m-heading -->

<h2 class="m-heading-level2">町田 瞳</h2>
<div class="m-text-lead">
<div class="m-text-lead__item"><b>dummy</b></div>
</div><!-- /.m-text-lead -->

<div class="m-text">
<p class="m-text__item">1996 / 06/ 21</p>
<p class="m-text__item">神奈川県横浜市出身</p>
<p class="m-text__item">明治大学 情報コミュニケーション学部 情報コミュニケーション学科卒業</p>
<p class="m-text__item">製造系人材派遣会社 日総工産株式会社入社</p>
<p class="m-text__item">派遣コーディネーターを経て、現在Web担当者として勤務。</p>
<p class="m-text__item">バナーやLPの制作も担当している。</p>
</div><!-- /.m-text -->

<div class="m-timeline js-timeline">
<ul class="m-timeline__list js-timeline__list">


<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2019年</span>
</div>
<dl class="m-list-description m-list-description--rowSP m-list-description--rowPC js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">日総工産株式会社 入社</dt>
<dd class="m-list-description__content">
派遣コーディネーターとして年間250名の求職者と面談。<br>
若手メンバーで構成されたプロジェクトに参加、ペーパーレスによる面接手法を提案。<br>
提案資料を作成する中で、デザインで人に情報を伝えることにやりがいを感じる。HTMLの基礎知識があり、Web制作に興味を持つ。
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>
</ul>
</div><!-- /.m-timeline -->

<div class="m-button-layout justify-end mt-64">
<a class="m-button" href="/works/">WORKS</a>
</div><!-- /.m-button-layout -->
</div>
</div>
</main><!-- /.l-main -->
