---
# ページ基本情報 ---------------------------------------------------------------

layout: _layouts/base
title: ABOUT｜PORTFORIO
description: ポートフォリオサイトの自己紹介ページです。

# パンくずリスト ---------------------------------------------------------------

breadcrumbs:
  - HOME: /
  - ABOUT: false
---
<main class="l-main">
<div class="l-main__outer">
<div class="l-main__inner">

<div class="m-heading">
<div class="m-heading__inner">
<h1 class="m-heading__text">ABOUT</h1>
<span class="m-heading__subText">私について</span>
</div>
</div><!-- /.m-heading -->

<h2 class="m-heading-level2">町田 瞳</h2>
<div class="m-text-lead">
<div class="m-text-lead__item"><b>フロントエンドエンジニア</b></div>
</div><!-- /.m-text-lead -->

<div class="m-text">
<p class="m-text__item">1996 / 06 / 21（28歳）</p>
<p class="m-text__item">神奈川県横浜市出身</p>
<p class="m-text__item">夏は海、冬はスノボに行きます。</p>
<p class="m-text__item">音楽を聴くこと、漫画を読むこと、旅行、岩盤浴が好きです。</p>
<p class="m-text__item">最近はトレッキングを始めました。</p>
</div><!-- /.m-text -->

<div class="m-timeline js-timeline">
<ul class="m-timeline__list js-timeline__list">
<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2019年</span>
</div>
<dl class="m-list-description js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">日総工産株式会社に入社</dt>
<dd class="m-list-description__content">
福岡に配属され、派遣コーディネーターとして年間250名の求職者と面談しました。<br>
若手メンバーで構成されたプロジェクトに参加し、ペーパーレスによる面接手法を提案。<br>
提案資料を作成する中で、デザインで人に情報を伝えることにやりがいを感じるようになり、HTMLの基礎知識があることからWeb制作の分野に興味を持ちました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2020年</span>
</div>
<dl class="m-list-description js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">Webデザインスクールに入会</dt>
<dd class="m-list-description__content">
Webデザインスクールに半年間通い、Illustrator、Photoshopの使い方やHTML、CSSのコーディングを学び、Webサイト制作の実践を重ねました。<br>
</dd>
<dt class="m-list-description__title">採用業務のDX推進</dt>
<dd class="m-list-description__content">
新型コロナウイルスの影響により、Web面接やLINEでの応募者対応など、新しいツールの試験導入を担当しました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2021年</span>
</div>
<dl class="m-list-description js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">人事異動でWeb担当者に転向</dt>
<dd class="m-list-description__content">
本社（神奈川）へ転勤し、派遣コーディネーターからWeb担当者へと職務内容が変わりました。<br>
自社サイトの更新・運用、バナー制作やLP、特集ページの制作を担当し、企画・原稿作成・デザイン・コーディングを一貫して対応しました。<br>
加えてメルマガ・X（旧Twitter）・LINE配信、Instagram広告配信、広告の校正・校閲、MAツール運用、ロゴ・パンフレット・説明会資料・動画制作などの業務に携わりました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2022年</span>
</div>
<dl class="m-list-description js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">株式会社ミツエーリンクスに入社</dt>
<dd class="m-list-description__content">
自社サイト運用を通じてWebの仕事に専念したいと考え、幅広い案件を経験できるWeb制作会社へ転職しました。<br>
コーディングの楽しさからフロントエンドエンジニアとしての道に進むことを決意。<br>
大手企業のコーポレートサイトを多数手掛け、アクセシビリティを強みとしているミツエーリンクスを志望しました。<br>
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2023年</span>
</div>
<dl class="m-list-description js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">運用から構築まで担当する</dt>
<dd class="m-list-description__content">
入社時より大手企業の運用案件に携わりました。<br>
次第にリニューアル案件の実装・モジュール設計・テンプレート設計を担当するようになり、技術の幅を広げました。<br>
JavaScriptはVanilla JSで作成し、基礎力を固めました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2024年</span>
</div>
<dl class="m-list-description js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">責任のある役割を担う</dt>
<dd class="m-list-description__content">
新規構築案件のメイン設計として環境構築や上流工程にも関わるようになりました。<br>
運用案件では運用リーダーとしてアサイン相談の窓口担当、不具合の調査、運用改善の提案を行いました。<br>
また、新卒研修の講師や新人教育、メンター業務を担当しました。<br>
技術面ではTypeScript、React、Astroなどの案件にも関わるようになりました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2025年</span>
</div>
<dl class="m-list-description js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">これから</dt>
<dd class="m-list-description__content">
1つのプロダクトを育ててみたいと考えています。<br>
PDCAを回しながら、よりユーザーにとって快適なUIを作り上げ、高品質なプロダクト制作を追求したいです。<br>
これまで培ったアクセシビリティの知識と経験を活かして、プロダクトの価値向上に貢献します。
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>
</ul>
</div><!-- /.m-timeline -->

<div class="m-button-layout justify-end mt-64">
<a class="m-button" href="/works/">WORKS</a>
</div><!-- /.m-button-layout -->
</div>
</div>
</main><!-- /.l-main -->
