---
# ページ基本情報 ---------------------------------------------------------------

layout: _layouts/base
title: ABOUT｜PORTFORIO
description: ポートフォリオサイトの自己紹介ページです。

# パンくずリスト ---------------------------------------------------------------

breadcrumbs:
  - HOME: /
  - ABOUT: false
---
<main class="l-main">
<div class="l-main__outer">
<div class="l-main__inner">

<div class="m-heading">
<div class="m-heading__inner">
<h1 class="m-heading__text">ABOUT</h1>
<span class="m-heading__subText">私について</span>
</div>
</div><!-- /.m-heading -->

<h2 class="m-heading-level2">町田 瞳</h2>
<div class="m-text-lead">
<div class="m-text-lead__item"><b>フロントエンドエンジニア</b></div>
</div><!-- /.m-text-lead -->

<div class="m-text">
<p class="m-text__item">1996 / 06 / 21（28歳）</p>
<p class="m-text__item">神奈川県横浜市出身</p>
<p class="m-text__item">夏は海、冬はスノボに行きます。</p>
<p class="m-text__item">音楽を聴くこと、漫画を読むこと、旅行、岩盤浴が好きです。</p>
<p class="m-text__item">最近はトレッキングを始めました。</p>
</div><!-- /.m-text -->

<div class="m-timeline js-timeline">
<ul class="m-timeline__list js-timeline__list">
<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2019年</span>
</div>
<dl class="m-list-description m-list-description--rowSP m-list-description--rowPC js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">日総工産株式会社 入社</dt>
<dd class="m-list-description__content">
福岡に配属され、派遣コーディネーターとして年間250名の求職者と面談。<br>
若手メンバーで構成されたプロジェクトに参加、ペーパーレスによる面接手法を提案。<br>
提案資料を作成する中で、デザインで人に情報を伝えることにやりがいを感じる。HTMLの基礎知識があり、Web制作に興味を持つ。
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2020年</span>
</div>
<dl class="m-list-description m-list-description--rowSP m-list-description--rowPC js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">Webデザインスクールへ入会</dt>
<dd class="m-list-description__content">
Webデザインスクールに半年間通い、Illustrator、Photoshopの使い方やHTML、CSSのコーディングを学びWebサイトの制作実践をする。<br>
新型コロナウイルスが流行し、Web面接や応募者とのLINE連絡といったツールの試験導入を担当する。
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2021年</span>
</div>
<dl class="m-list-description m-list-description--rowSP m-list-description--rowPC js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">人事異動でWeb担当者に</dt>
<dd class="m-list-description__content">
本社（神奈川）へ転勤。人事異動で派遣コーディネーターからWeb担当者となる。<br>
自社サイトの更新・運用、バナー制作やLP、特集ページの制作を行う。企画から携わり原稿・デザイン・コーディングを対応。<br>
メルマガ・X（旧Twitter）・LINE配信、Instagram広告配信、広告の校正・校閲、MAツール運用、ロゴ・パンフレット・説明会資料・動画制作などの業務を担当する。
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2022年</span>
</div>
<dl class="m-list-description m-list-description--rowSP m-list-description--rowPC js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">株式会社ミツエーリンクス 入社</dt>
<dd class="m-list-description__content">
自社サイトの運用をする中で、Webの仕事に専念できる環境に身を置きたいと考える。<br>
コーディングの楽しさからフロントエンドエンジニアの道に進むことを決意。<br>
幅広い業界の案件を経験できるWeb制作会社に入社。<br>
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2023年</span>
</div>
<dl class="m-list-description m-list-description--rowSP m-list-description--rowPC js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">経験を積む</dt>
<dd class="m-list-description__content">
レビューをする
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2024年</span>
</div>
<dl class="m-list-description m-list-description--rowSP m-list-description--rowPC js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">責任のある役回り</dt>
<dd class="m-list-description__content">
新規構築案件、新卒研修、新人教育、運用リーダー、メンター
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>

<li class="m-timeline__item js-timeline__item">
<div class="m-timeline__heading js-fadeIn">
<span class="m-timeline__lead">2025年</span>
</div>
<dl class="m-list-description m-list-description--rowSP m-list-description--rowPC js-fadeIn">
<div class="m-list-description__item">
<dt class="m-list-description__title">これから</dt>
<dd class="m-list-description__content">
事業会社で1つのプロダクトを育ててみたい！と思うようになりました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</li>
</ul>
</div><!-- /.m-timeline -->

<div class="m-button-layout justify-end mt-64">
<a class="m-button" href="/works/">WORKS</a>
</div><!-- /.m-button-layout -->
</div>
</div>
</main><!-- /.l-main -->
