@use 'sass:color';
@use '../_common/mixin/' as mixin;
@use '../_common/function/' as func;

// Custom properties
// =============================================================================
:root {
  // Color Scheme
  // =============================================
  // 基本となるカラー（ほとんどの場合変更不要）
  --COLOR_BASE_DARK: #4d4d4d;
  --COLOR_BASE_LIGHT: #fff;

  // このサイト固有の主要カラー
  --COLOR_BRAND_PRIMARY: #1d4b9e;
  --COLOR_BRAND_SECONDARY: #e3e7ef;

  // 固有の意味を持つカラー
  --COLOR_ROLE_DANGER_DARK: #cc0000; // エラーメッセージの前景色など

  // 前景色として汎用的に使用するカラー
  --COLOR_FOREGROUND_DARK: #4d4d4d;
  --COLOR_FOREGROUND_LIGHT: #fff;

  // 背景色として汎用的に使用するカラー
  --COLOR_BACKGROUND_DARK: #f7f7f7;
  --COLOR_BACKGROUND_LIGHT: #fff;

  // 罫線色として汎用的に使用するカラー
  --COLOR_OUTLINE_DARK: #d8d8d8;

  // Size
  // =============================================
  // モジュール間マージンとして汎用的に使用するサイズ
  --SIZE_MODULE_MARGIN: 16px;

  // モジュール間マージンとして使用する大きいサイズ
  --SIZE_MODULE_MARGIN_WIDE: 24px;

  // モジュールを入れ子にしたときのモジュール間マージン
  --SIZE_NESTED_MODULE_MARGIN: 16px;

  // ローカルナビゲーションの高さ
  --HEIGHT_LOCAL_NAV: 66px;

  // Property
  // =============================================
  // font-size
  --FONT_SIZE: #{func.px-to-rem(16)};

  // font-size (note)
  --FONT_SIZE_NOTE: #{func.px-to-rem(13)};

  // line-height
  --LINE_HEIGHT: 1.75;

  // z-index (header)
  --Z_INDEX_HEADER: 5000;

  // z-index (overlay)
  --Z_INDEX_OVERLAY: 1000;

  // z-index (汎用)
  --Z_INDEX_LAYER1: 100;
}

@include mixin.media(pc) {
  :root {
    // Font
    // ===========================================
    --FONT_SIZE: #{func.px-to-rem(16)};
    --FONT_SIZE_NOTE: #{func.px-to-rem(14)};
    --LINE_HEIGHT: 1.75;

    // Size
    // ===========================================
    --SIZE_MODULE_MARGIN: 24px;
    --SIZE_MODULE_MARGIN_WIDE: 40px;
    --SIZE_NESTED_MODULE_MARGIN: 24px;
  }
}
