---
# ページ基本情報 ---------------------------------------------------------------

layout: _layouts/base
title: WORKS｜PORTFORIO
description: ポートフォリオサイトの実績ページです。

# パンくずリスト ---------------------------------------------------------------

breadcrumbs:
  - HOME: /
  - WORKS: false
---
<main class="l-main">
<div class="l-main__outer">
<div class="l-main__inner">

<div class="m-heading">
<div class="m-heading__inner">
<h1 class="m-heading__text">WORKS</h1>
<span class="m-heading__subText">制作実績</span>
</div>
</div><!-- /.m-heading -->


<div class="m-tabPanel js-tabPanel">
<div class="m-tabPanel__control">
<ul class="m-tabPanel__list js-tabPanel__list">
<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab">リニューアル</a>
</li>

<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab-2">運用</a>
</li>

</ul>
</div>



<div class="m-tabPanel__container">
<div id="DUMMY_TAB" class="m-tabPanel__content js-tabPanel__content">

<h2 class="m-heading-level2">リニューアル・新規構築実績</h2>
<div class="m-text-lead">
<div class="m-text-lead__item"><b>dummy</b></div>
</div><!-- /.m-text-lead -->

<div class="m-text">
<p class="m-text__item">dummy</p>
</div><!-- /.m-text -->
</div>

<div id="DUMMY_TAB_2" class="m-tabPanel__content js-tabPanel__content">

<h2 class="m-heading-level2 js-fadeIn">運用実績</h2>

</div>

</div>

<div class="m-tabPanel__control">
<ul class="m-tabPanel__list js-tabPanel__list">
<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab">リニューアル</a>
</li>

<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab-2">運用</a>
</li>

</ul>
</div>
</div><!-- /.m-tabPanel -->

<div class="m-button-layout justify-end mt-64">
<a class="m-button" href="/about/">ABOUT</a>
</div><!-- /.m-button-layout -->

</div>
</div>
</main><!-- /.l-main -->
