---
# ページ基本情報 ---------------------------------------------------------------

layout: _layouts/base
title: WORKS｜PORTFORIO
description: ポートフォリオサイトの実績ページです。

# パンくずリスト ---------------------------------------------------------------

breadcrumbs:
  - HOME: /
  - WORKS: false
---
<main class="l-main">
<div class="l-main__outer">
<div class="l-main__inner">

<div class="m-heading">
<div class="m-heading__inner">
<h1 class="m-heading__text">WORKS</h1>
<span class="m-heading__subText">制作実績</span>
</div>
</div><!-- /.m-heading -->


<div class="m-tabPanel js-tabPanel">
<div class="m-tabPanel__control">
<ul class="m-tabPanel__list js-tabPanel__list">
<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab">リニューアル</a>
</li>

<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab-2">運用</a>
</li>

</ul>
</div>



<div class="m-tabPanel__container">
<div id="tab" class="m-tabPanel__content js-tabPanel__content">
<h2 class="m-heading-level2">リニューアル・新規構築実績</h2>

<div class="m-layout" data-column-sp="1" data-column-pc="2">
<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>2024年4月〜2024年12月</b></div>
<div class="m-text-lead__item"><b>教育・学習支援業（英会話スクール）</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>2024年1月〜2024年4月</b></div>
<div class="m-text-lead__item"><b>建設業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>2023年5月〜2024年3月</b></div>
<div class="m-text-lead__item"><b>宿泊業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>2023年4月〜2024年3月</b></div>
<div class="m-text-lead__item"><b>ソフトウェア業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>
</div>
</div>

<div id="tab-2" class="m-tabPanel__content js-tabPanel__content">
<h2 class="m-heading-level2 js-fadeIn">運用実績</h2>

<div class="m-layout" data-column-sp="1" data-column-pc="3">
<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>クレジットカード業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">メンバー：8名</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">運用リーダー</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>損害保険業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
<li class="m-list__item">
<div class="m-list__text">jQuery</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Typescript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
JSONファイルで出力するお知らせ機能を作成。<br>
innerHTMLではなくtextContentを使用し、サニタイズ処理を行うことでセキュリティを考慮しました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>コンサルティング業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>化学工業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>卸売業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
「もっと見る」機能を作成。<br>
初期表示数、表示数、PC・SPでの表示数など、オプションをつけてカスタマイズできるようにしました。</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>教育・学習支援業（学習塾）</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Vue.js</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">シミュレーション機能</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>教育・学習支援業（英会話スクール）</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
ドロップダウン機能を作成。<br>
ヘッダー内にあるボタンをクリックするとドロップダウン表示されるものが複数あり、カスタムイベントを使って互いの機能が同時に処理されないようにしました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>教育・学習支援業（学校法人）</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>情報サービス業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>精密機器製造業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>不動産業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>ソフトウェア業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>宿泊業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content"></dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">テキストテキストテキストテキスト</dd>
</div>
</dl><!-- /.m-list-description -->
</div>
</div>
</div>
</div>

<div class="m-tabPanel__control">
<ul class="m-tabPanel__list js-tabPanel__list">
<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab">リニューアル</a>
</li>

<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab-2">運用</a>
</li>

</ul>
</div>
</div><!-- /.m-tabPanel -->

<div class="m-button-layout justify-end mt-64">
<a class="m-button" href="/about/">ABOUT</a>
</div><!-- /.m-button-layout -->

</div>
</div>
</main><!-- /.l-main -->
