---
# ページ基本情報 ---------------------------------------------------------------

layout: _layouts/base
title: WORKS｜PORTFORIO
description: ポートフォリオサイトの実績ページです。

# パンくずリスト ---------------------------------------------------------------

breadcrumbs:
  - HOME: /
  - WORKS: false
---
<main class="l-main">
<div class="l-main__outer">
<div class="l-main__inner">

<div class="m-heading">
<div class="m-heading__inner">
<h1 class="m-heading__text">WORKS</h1>
<span class="m-heading__subText">制作実績</span>
</div>
</div><!-- /.m-heading -->


<div class="m-tabPanel js-tabPanel">
<div class="m-tabPanel__control">
<ul class="m-tabPanel__list js-tabPanel__list">
<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab">リニューアル</a>
</li>

<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab-2">運用</a>
</li>

</ul>
</div>



<div class="m-tabPanel__container">
<div id="tab" class="m-tabPanel__content js-tabPanel__content">
<h2 class="m-heading-level2">リニューアル・新規構築実績</h2>

<div class="m-layout" data-column-sp="1" data-column-pc="2">
<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>2024年4月〜2024年12月</b></div>
<div class="m-text-lead__item"><b>教育・学習支援業（英会話スクール）</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">25名</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">EJS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">モジュール作成</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CMS（WebRelease）の実装</div>
</li>
<li class="m-list__item">
<div class="m-list__text">運用保守（2025年1月〜現在）</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">画像に付与したloading="lazy"と動的インポートしたJSの高さ揃え機能が適切な読み込みの順番を成さず、高さ揃えが機能していなかったバグを公開より前に解消しました。</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>2024年1月〜2024年4月</b></div>
<div class="m-text-lead__item"><b>建設業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">3名</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">EJS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">開発環境構築、テンプレート設計、ページ実装</div>
</li>
<li class="m-list__item">
<div class="m-list__text">要件定義、ドキュメント作成</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">iPadを用いたミュージアム巡りに最適なUI・機能の提案と効率的な作業で短期納品を実現し、コーポレートサイトのリニューアル契約を獲得しました。</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>2023年5月〜2024年3月</b></div>
<div class="m-text-lead__item"><b>宿泊業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">35名</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">EJS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">テンプレート設計、ページ実装、コードレビュー</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Drupalにおけるパラグラフ追加のモジュール整理、バックエンドとの連携</div>
</li>
<li class="m-list__item">
<div class="m-list__text">運用保守（2024年3月〜現在）</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">アクセシビリティレベルAを基本に一部AAを対応し、Webグランプリの「企業グランプリ部門」アクセシビリティ賞にてグランプリを受賞しました。</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>2023年4月〜2024年3月</b></div>
<div class="m-text-lead__item"><b>ソフトウェア業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">10名</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">EJS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">テンプレート設計</div>
</li>
<li class="m-list__item">
<div class="m-list__text">既存リソースの精査、オーバーライドファイルの作成</div>
</li>
<li class="m-list__item">
<div class="m-list__text">運用スポット（2024年3月〜現在）</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">リニューアルしたテンプレートを使用して、コンテンツ内に既存のコンテンツを見た目そのままで入れ込みたいとの要望がありました。新しいCSS/JSと既存のCSS/JSがバッティングし、表示崩れが発生。オーバーライドファイルを作成し、既存デザインを保持したままリニューアル対応を実現しました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>
</div>
</div>

<div id="tab-2" class="m-tabPanel__content js-tabPanel__content">
<h2 class="m-heading-level2 js-fadeIn">運用実績</h2>

<div class="m-layout" data-column-sp="1" data-column-pc="2">
<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>クレジットカード業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">メンバー：8名</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">EJS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
<li class="m-list__item">
<div class="m-list__text">jQuery</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Typescript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">運用リーダーとして設計・実装を含む運用全般、アサイン調整</div>
</li>
<li class="m-list__item">
<div class="m-list__text">不具合調査・修正作業</div>
</li>
<li class="m-list__item">
<div class="m-list__text">運用改善提案・実行</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
依頼が頻繁にあるページの新規作成で、既存ページの複製による修正漏れが複数回発生していました。テンプレート（EJS）を作成し、変更箇所を自動的に同一箇所へ反映させることで、作業精度と効率を向上させました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>損害保険業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">運用スポット</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
<li class="m-list__item">
<div class="m-list__text">jQuery</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Typescript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">一部ディレクトリ改修による80P実装</div>
</li>
<li class="m-list__item">
<div class="m-list__text">一部ディレクトリ改修による開発環境作成、モジュール設計、テンプレート作成</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
JSONファイルで出力するお知らせ機能を作成しました。<br>
innerHTMLではなくtextContentを使用し、サニタイズ処理を行うことでセキュリティを考慮しました。
</dd>
<dd class="m-list-description__content">
全体改修を想定としたディレクトリ改修を行いました。<br>
既存のリポジトリ内での作成を検討しましたが、全体改修を考慮して開発環境から作成して対応しました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>コンサルティング業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">運用スポット</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">他社制作のLP改修</div>
</li>
<li class="m-list__item">
<div class="m-list__text">表示パフォーマンス、アクセシビリティ改善</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CMS開発のバックエンドへ連携</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
ドロップダウンメニュー機能を改修しました。<br>aria-expandedとaria-controlsを使用して開閉状態を支援技術に伝えるように改修しました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>化学工業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">運用スポット</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">CMS開発のバックエンドへ連携</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
カルーセルを改修しました。<br>ヒアリングにてカルーセルコンテンツが複数ではなく1つのみの場合も考慮が必要と判明したため、バグが起きないようフォールバックを用意しました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>卸売業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">運用スポット</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">モジュール設計・ページ実装</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
「もっと見る」機能を作成しました。<br>初期表示数、表示数、PC・SPでの表示数など、オプションをつけてカスタマイズできるようにしました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>教育・学習支援業（学習塾）</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">運用スポット</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Vue.js</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">バナー作成</div>
</li>
<li class="m-list__item">
<div class="m-list__text">モジュール設計・ページ実装</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
プルダウンで選んだ項目別に入力欄を出し分ける機能を作成しました。<br>input要素へのラベル付けや必須項目への未入力警告表示を入力欄直上に付与するといったアクセシビリティを意識した設計をしました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>教育・学習支援業（英会話スクール）</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">メンバー：5名</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">EJS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">運用フローの制定、開発環境調整、ドキュメント作成</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CMS（WebRelease）組み込みのテンプレート作成</div>
</li>
</ul><!-- /.m-list --><dd class="m-list-description__content">
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
ドロップダウン機能を作成。<br>ヘッダー内にあるボタンをクリックするとドロップダウン表示される機能が複数あり、カスタムイベントを使って互いの機能が同時に処理されないようにしました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>教育・学習支援業（学校法人）</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">運用スポット</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">トップページ改修</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CMS（Movable Type）開発のバックエンドとの連携</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
トップページのヘッダーフッターコンテンツ全ての改修を1ヶ月半で対応しました。<br>メンバーはディレクター1名、デザイン1名、フロントエンド2名、バックエンド1名。全員を巻き込んでタスクの進め方や作業内容の整理、逆算によるスケジュール立て、バックエンドへの連携等を先導して行いました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>情報サービス業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">運用スポット</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">不具合調査、バグ修正</div>
</li>
<li class="m-list__item">
<div class="m-list__text">テンプレート設計・モジュール設計・ページ実装・LP作成</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CMS（Movable Type）開発会社との連携</div>
</li>
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
ビューポートに動画が表示された際の自動再生機能を作成しました。<br>scrollイベントではなく、IntersectionObserverを使用してパフォーマンスを意識した設計をしました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>精密機器製造業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">運用スポット</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<li class="m-list__item">
<div class="m-list__text">モジュール設計</div>
</li>
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
コンテンツの絞り込み機能を作成しました。<br>絞り込まれたコンテンツが0件の時、複数のカテゴリに該当する場合など要件を事前に整理してスムーズに進めました。</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>不動産業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">運用スポット</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">EJS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
<li class="m-list__item">
<div class="m-list__text">TypeScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">モジュール設計</div>
</li>
<li class="m-list__item">
<div class="m-list__text">コードレビュー</div>
</li>
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">外部ツール利用の不具合調査を行い、CSPによるブロックであることを確認し解消に導きました。</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>ソフトウェア業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">運用スポット</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">EJS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">テンプレート設計・モジュール設計・ページ実装</div>
</li>
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
ニュース出力機能を作成しました。<br>2つあるtxtファイルの最終アップ日を比較し、最新のファイルをニュース出力する機能の要望がありました。ファイルが存在しなかったとき・txtファイル内が空だった時など考え得るパターン出しを行い、適切にデータを出力できるようにしました。</dd>
</div>
</dl><!-- /.m-list-description -->
</div>

<div class="m-layout__item">
<div class="m-text-lead">
<div class="m-text-lead__item"><b>宿泊業</b></div>
</div><!-- /.m-text-lead -->

<dl class="m-list-description">
<div class="m-list-description__item">
<dt class="m-list-description__title">規模</dt>
<dd class="m-list-description__content">メンバー：5名</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">開発環境</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="2" data-column-pc="3">
<li class="m-list__item">
<div class="m-list__text">HTML</div>
</li>
<li class="m-list__item">
<div class="m-list__text">EJS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CSS</div>
</li>
<li class="m-list__item">
<div class="m-list__text">Sass</div>
</li>
<li class="m-list__item">
<div class="m-list__text">JavaScript</div>
</li>
</ul><!-- /.m-list -->
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">担当業務</dt>
<dd class="m-list-description__content">
<ul class="m-list" data-column-sp="1" data-column-pc="1">
<li class="m-list__item">
<div class="m-list__text">テンプレート設計・モジュール設計</div>
</li>
<li class="m-list__item">
<div class="m-list__text">CMS（Drupal）実装</div>
</li>
</dd>
</div>
<div class="m-list-description__item">
<dt class="m-list-description__title">取り組み・実績</dt>
<dd class="m-list-description__content">
ユーザースクリプトを作成しました。<br>ページ実装にて画像のパスを絶対パスかつ誤ったドメインで指定し、画像のリンク切れが複数回発生しました。改善策として、特定のドメインでの絶対パス指定がされている場合検知できるユーザースクリプトを作成して予防するようにしました。
</dd>
</div>
</dl><!-- /.m-list-description -->
</div>
</div>
</div>
</div>

<div class="m-tabPanel__control">
<ul class="m-tabPanel__list js-tabPanel__list">
<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab">リニューアル</a>
</li>

<li class="m-tabPanel__listItem js-tabPanel__listItem">
<a class="m-tabPanel__link js-tabPanel__link" href="#tab-2">運用</a>
</li>

</ul>
</div>
</div><!-- /.m-tabPanel -->

<div class="m-button-layout justify-end mt-64">
<a class="m-button" href="/about/">ABOUT</a>
</div><!-- /.m-button-layout -->

</div>
</div>
</main><!-- /.l-main -->
