@use '../_base/argument' as *;
@use '../_common/mixin/' as mixin;
@use '../_common/extend/' as *;
@use '../_common/function/' as func;

// パンくずリスト
// =============================================================================
// .l-breadcrumb
// ===============================================
.l-breadcrumb {
  @extend %structure;

  grid-area: breadcrumb;
}

.l-breadcrumb__outer {
  @extend %structure;
}

.l-breadcrumb__inner {
  @extend %structure-inner;

  padding: 16px 0;
}

.l-breadcrumb__item {
  display: inline-block;
  list-style: none;
  position: relative;

  &:not(:first-child) {
    margin-left: 20px;

    &::before,
    &::after {
      @include mixin.pseudo;
      background-color: #707070;
      height: 1px;
      left: -14px;
      width: 6px;
    }

    &::before {
      top: 50%;
      transform: rotate(33deg);
    }

    &::after {
      top: calc(50% + 3px);
      transform: rotate(-33deg);
    }
  }
}


.l-breadcrumb__link {
  font-size: func.px-to-rem(12);

  &:any-link {
    color: var(--COLOR_BRAND_PRIMARY);
    text-decoration: none;

    @include mixin.hover {
      text-decoration: underline;
    }
  }
}

@include mixin.media(pc) {
  .l-breadcrumb__item {
    &:not(:first-child) {
      margin-left: 23px;

      &::before,
      &::after {
        left: -16px;
        width: 8px;
      }

      &::before {
        top: calc(50% - 2px);
      }

      &::after {
        top: calc(50% + 2px);
      }
    }
  }

  .l-breadcrumb__link {
    font-size: func.px-to-rem(14);
  }
}
