@use '../../_base/argument' as *;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-list-number
// =============================================================================
.m-list-number {
  @include mixin.layout($gapSP: 8px 24px, $gapPC: 8px 32px);

  margin-top: var(--SIZE_MODULE_MARGIN);
}

.m-list-number__item {
  display: flex;
  gap: 8px;
  list-style: none;
}

.m-list-number__mark {
  font-size: func.px-to-rem(14);
  text-align: right;
}

.m-list-number__text {
  font-size: func.px-to-rem(14);

  // この領域の中で使用する汎用モジュール
  > [class^='m-'] {
    margin-top: var(--SIZE_NESTED_MODULE_MARGIN);
  }

  // この領域の中で使用するリストモジュール
  > [class^='m-list'],
  > .m-link-list,
  > .m-note {
    margin-top: 8px;
  }
}

@include mixin.media(pc) {
  .m-list-number__text,
  .m-list-number__mark {
    font-size: var(--FONT_SIZE);
  }
}
