---
# ページ基本情報 ---------------------------------------------------------------

layout: _layouts/base
title: TOPページ
description: DUMMY_DESCRIPTION

# その他 --------------------------------------------------------------------------

top: true

---
<main class="l-main">
<div class="l-main__outer">
<div class="l-main__inner">

<div class="m-box">
<div class="m-box__body">
<h2 class="m-heading-level2">sample</h2>
</div>
</div><!-- /.m-box -->

</div>
</div>
</main>
