---
# ページ基本情報 ---------------------------------------------------------------

layout: _layouts/base
title: TOP｜PORTFORIO
description: ポートフォリオサイトのトップページです。

# その他 --------------------------------------------------------------------------

top: true

---
<main class="l-main">
<div class="l-main__outer">
<div class="l-main__inner">


<div class="m-heading">
<div class="m-heading__inner">
<h1 class="m-heading__text">PORTFORIO</h1>
</div>
</div><!-- /.m-heading -->

<h2 class="m-heading-level2">町田 瞳</h2>

<div class="m-layout-mediaText m-layout-mediaText--columnReverseSP justify-centerPC">
<div class="m-layout-mediaText__content">
<div class="m-text">
<p class="m-text__item">Web制作会社でフロントエンドエンジニアとして働いています。</p>
<p class="m-text__item">私の強みはアクセシビリティや表示パフォーマンスの向上といった、</p>
<p class="m-text__item">誰もが快適に使える高品質なサイトを制作することです。</p>
</div><!-- /.m-text -->

<ul class="m-link-list">
<li class="m-link-list__item">
<a class="m-link" href="/about/">ABOUT</a>
</li>
<li class="m-link-list__item">
<a class="m-link" href="/works/">WORKS</a>
</li>
<li class="m-link-list__item">
<a class="m-link" href="https://github.com/Hitomi-pupila" target="_blank">GitHub<svg class="m-link__icon" viewBox="0 0 16 16" role="img">
<title>別ウィンドウで開く</title>
<use href="#icon-window"></use>
</svg></a>
</li>
</ul><!-- /.m-link-list -->
</div>

<div class="m-layout-mediaText__media">
<div class="m-media m-media--profile">
<img src="/images/img-top.webp" width="641" height="641" alt="">
</div>
</div>
</div><!-- /.m-layout-mediaText -->

<img src="/img.jpg" width="641" height="641" alt="">

<h2 class="m-heading-level2">スキルセット</h2>

<h3 class="m-heading-level3">言語</h3>

<div class="m-table m-table--scrollSP">
<table class="m-table__table">
<colgroup>
<col class="w-1/6">
<col>
</colgroup>
<thead class="m-table__head">
<tr class="m-table__row">
<td class="m-table__cell"></td>
<th class="m-table__cell text-center">レベル</th>
</tr>
</thead>
<tbody class="m-table__body">
<tr class="m-table__row">
<th class="m-table__cell m-table__cell--head">HTML</th>
<td class="m-table__cell">最適なコード記述と、指示、改修が可能</td>
</tr>

<tr class="m-table__row">
<th class="m-table__cell m-table__cell--head">CSS</th>
<td class="m-table__cell">最適なコード記述と、指示、改修が可能（BEM設計）</td>
</tr>

<tr class="m-table__row">
<th class="m-table__cell m-table__cell--head">Sass</th>
<td class="m-table__cell">最適なコード記述と、指示、改修が可能（SCSS記法）</td>
</tr>

<tr class="m-table__row">
<th class="m-table__cell m-table__cell--head">JavaScript</th>
<td class="m-table__cell">最適なコード記述と、指示、改修が可能</td>
</tr>

<tr class="m-table__row">
<th class="m-table__cell m-table__cell--head">TypeScript</th>
<td class="m-table__cell">基本的なプログラミングが可能</td>
</tr>
</tbody>
</table>
</div><!-- /.m-table -->

<h3 class="m-heading-level3">フレームワーク</h3>

<div class="m-table m-table--scrollSP">
<table class="m-table__table">
<colgroup>
<col class="w-1/6">
<col>
</colgroup>
<thead class="m-table__head">
<tr class="m-table__row">
<td class="m-table__cell"></td>
<th class="m-table__cell text-center">レベル</th>
</tr>
</thead>
<tbody class="m-table__body">
<tr class="m-table__row">
<th class="m-table__cell m-table__cell--head">React</th>
<td class="m-table__cell">基本的な環境構築が可能</td>
</tr>

<tr class="m-table__row">
<th class="m-table__cell m-table__cell--head">Astro</th>
<td class="m-table__cell">基本的な環境構築が可能</td>
</tr>
</tbody>
</table>
</div><!-- /.m-table -->

<h3 class="m-heading-level3">その他</h3>

<div class="m-table m-table--scrollSP">
<table class="m-table__table">
<colgroup>
<col class="w-1/4">
<col class="w-1/6">
<col>
</colgroup>
<thead class="m-table__head">
<tr class="m-table__row">
<td class="m-table__cell"></td>
<th class="m-table__cell text-center">種類</th>
<th class="m-table__cell text-center">レベル</th>
</tr>
</thead>
<tbody class="m-table__body">
<tr class="m-table__row">
<th class="m-table__cell m-table__cell--head">テンプレートエンジン</th>
<th class="m-table__cell m-table__cell--head">EJS</th>
<td class="m-table__cell">最適なコード記述と、指示、改修が可能</td>
</tr>

<tr class="m-table__row">
<th class="m-table__cell m-table__cell--head">CI/CDツール</th>
<th class="m-table__cell m-table__cell--head">GitLab</th>
<td class="m-table__cell">基本的な利用が可能</td>
</tr>

<tr class="m-table__row">
<th class="m-table__cell m-table__cell--head">Git</th>
<th class="m-table__cell m-table__cell--head">GitLab、Github</th>
<td class="m-table__cell">基本的な利用が可能</td>
</tr>
</tbody>
</table>
</div><!-- /.m-table -->
</div>
</div>
</main>
