@use '../../_base/argument' as *;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-note
// =============================================================================
.m-note {
  display: grid;
  gap: 8px;
  grid-template-columns: auto 1fr;
  margin-top: var(--SIZE_MODULE_MARGIN);
}

.m-note__item {
  display: contents;
  list-style: none;
}

.m-note__mark,
.m-note__text {
  font-size: var(--FONT_SIZE_NOTE);
}

.m-note__text {
  // この領域の中で使用する汎用モジュール
  > [class^='m-'] {
    margin-top: var(--SIZE_NESTED_MODULE_MARGIN);
  }

  // この領域の中で使用するリストモジュール
  > [class^='m-list'],
  > .m-link-list,
  > .m-note {
    margin-top: 8px;
  }
}
