@use '../../_base/argument' as *;
@use '../mixin/' as mixin;

// 全幅のコンテナー
// =============================================================================
%structure-outer {
  display: grid;
  gap: 0 $OUTSIDE_GUTTER_SP;
  grid-column: 1 / 4;
  grid-template-columns:
    1fr minmax($CONTENT_WIDTH_SP, $CONTENT_WIDTH_PC)
    1fr;
}